.hero_container{
    height: 100vh;
    width: 100vw;
    background: fixed;
    background-position: center right;
    background-size: cover;
    display: flex;
    position: relative;

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgb(0, 0, 0,0.6));
            // opacity: .7;
        }

        .content_container{
            flex: 0.6;
            z-index: 1;
            background: white fixed;
            box-shadow: rgba(0, 0, 0, 0.671) 2.4px 2.4px 5px 3px;
            
            .detail_wrap{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            height: 100%;
            width: 100%;
        
            max-width: 90%;
            margin: 0 auto;
        
            .hero_heading{
                font-size: 60px;
                text-transform: capitalize;
        
                span{
                    color: var(--color-primary);
                    font-size: 65px;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    line-height: 20px;
                }
            }

            .hero_subdetails{
                font-size: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                span{
                    position: relative;
                    padding-left: 30px;
                    &::before{
                        content: "";
                        background: var(--color-primary);
                        height: 5px;
                        width: 20px;
                        position: absolute;
                        left: 0;
                        top: 50%;
                    }
                }
            }
        }
    
    }

}


.hero_section{
    height: 100vh;
    width: 100vw;
    position: relative;

    .slide-wrapper{
        position: relative;
        width: 100%;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    .slide_container{
        width: 130vh;
        position: absolute;
        // background: #000;
        top: 60%;
        left: 25%;
        height: max-content;
        padding: 30px 0px;
        transform: translate(-30%, -50%);
        

        @media (max-width: 1200px) {
            transform: translate(-20%, -50%);
        }

        @media (max-width: 900px) {
            width: 100vw;
            left: 50%;
            top: 50%;
            max-width: 95%;
            margin: 0 auto;
            padding: 0;
            transform: translate(-50%,-50%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }

        p {
            font-size: 20px;
            color: #fff;
            // line-height: 0.8em;
            font-weight: 300;
            margin: 0;

            @media (max-width:900px) {
                text-align: center;
            }

            @media (max-width:768px) {
                font-size: 16px;
            }
        }

        h2 {
            font-size: 60px;
            font-weight: 400;
            color: white;
            text-transform: capitalize;
            margin: 33px 0;

            @media (max-width:1200px) {
                font-size: 50px;
                line-height: 65px;
                margin: 25px 0;
            }

            @media (max-width:900px) {
                text-align: center;
            }

            @media (max-width:768px) {
                font-size: 35px;
                line-height: 50px;
            }

            @media (max-width:576px) {
                font-size: 24px;
                line-height: 40px;
                margin: 20px 0px;
            }

            @media (max-width:450px) {
                font-size: 22px;
                line-height: 32px;
            }

            span {
                display: block;
                
            }
        }   

        .text{
            margin-top: 5px;
            position: relative; 
            padding-left: 30px;

            @media (max-width:900px) {
                padding-left: 0;
            }

            &::before{
                content: " ";
                height: 3px;
                width: 18px;
                position: absolute;
                background: var(--color-primary);
                left: 0;
                top: 50%;

                @media (max-width:900px) {
                    display: none;
                }
            }
        }

    }

        &::before {
            content: "";
            width: 100vw;
            height: 100vh;
            position: absolute;
            left: 0;
            top: 0;
            background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.292) , rgba(0, 0, 0, 0.8));
            z-index: 0;
            opacity: .8;
        }

    }
}

