.pricing_container{
     
    th{
        padding: 20px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &>p{
            margin: 10px !important;
            font-size: 17px;
            text-transform: capitalize;
            line-height: 0;
            color: black;

            &>span{
                text-transform: uppercase;
                font-weight: 500;
                font-size: 15px;
            }
        }

        &>button{
            margin-top: 10px;
            border: none;
            outline: none;
            display: block; 
            color: white;
            background: var(--color-primary);
            padding: 5px 10px;
            border-radius: 10px;
            transition: all 0.5s ease-in-out;

            &:hover{
                background: rgb(199, 169, 72);
                
            }
        }
    }

    tr{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .service_name{
            flex: 0.85;

            &>p{
                margin-left: 40px;
                font-size: 15px;
                font-weight: 400;

            }
            // padding-left: 30px;
        }

        .service_avt{
            flex: 0.15;
            display: flex;
            align-items: center;
            justify-content: center;

            .check_right{
                color: rgb(21, 212, 4);
            }

            .check_wrong{
                color: red;
            }
        }
    }
}